<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('../partials/bootstrapMetaLinks.ejs')%>
</head>
<body>
    <%-include('../Admin_views/partials.ejs/navbar.ejs')%>
    <h1>Admin.....</h1>
</body>
</html>

